*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}
body{
    background: #1f242d;
   
   background-position: center;
   background-repeat: no-repeat;
   background-attachment: fixed;
   

}
a{
   
    color: white;
    text-decoration: none;

}

.navbar{
   position: fixed;
   left: 0;
   top: 0;
   width: 100%;
   padding: 25px 9%;
   display: flex;
   justify-content:space-between;
   align-items: center;
   z-index: 1000;
   background-color: #1f242d;
}
.navbar .logo{
    font-size: 30px;
    font-weight: 700;
}
.navbar ul{
    display: flex;

}
.navbar ul li{
list-style: none;
margin-left: 35px;
}
.navbar ul li a{
    font-size: 20px;
    font-weight: 500;
    transition: 0.5s;
}
.navbar ul li:hover a,
.navbar ul li.active a{
    color: #7cf03d;

}
.about{
    min-height: 100vh;              
    align-items: center;            
    padding: 10px; 
    margin-top: 80px;              
}

.about p{
    background-position: bottom;
    border-style: none;
    color: #7cf03d;
    max-width: 700px;
    font-size: 18px;
    line-height: 4;   
    color: white;
}
